canvas {
    height:300px;
    width: auto;
}

#income-graph-data {
    display: none;
}

.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}
.example-modal .modal {
    background: transparent !important;
}

.input-field {
    padding-bottom: 10px;
}
.pagin ul.pagination{
    margin: 0;
}

.graph-income-title {
    color: #FFFFFF;
}

.box-header > .fa {
    color: #FFFFFF;
}