#income-graph-data {
    display: none;
}

.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}
.example-modal .modal {
    background: transparent !important;
}

.input-field {
    padding-bottom: 10px;
}

select.select-category {
    width: 100%;
}

.center-img {
    margin: 5px auto;
}

.logo-size {
    max-width: 200px;
    max-height: 50px;
    width: auto;
    height: 40px;
}